aotools==1.0.6
astropy==5.1
astropy==5.2.1
cupy==13.3.0
intel_numpy==1.21.4
joblib==1.1.0
joblib==1.1.1
joblib==1.2.0
jsonpickle==3.0.1
matplotlib==3.5.2
matplotlib==3.7.0
matplotlib==3.6.3
matplotlib==3.7.1
mkl==2022.2.1
mkl_service==2.4.0
mpmath==1.2.1
numba==0.55.1
numba==0.56.4
numexpr==2.8.3
numexpr==2.8.4
numpy==1.21.5
numpy==1.23.5
psutil==5.9.4
psutil==5.9.0
pyFFTW==0.13.1
scikit_image==0.19.2
scikit_image==0.19.3
scipy==1.10.0
scipy==1.9.1
scipy==1.10.1
tqdm==4.64.1
tqdm==4.65.0

